<section class="login-page" cz-shortcut-listen="true" style="min-height: 466px;">
  <div class="login-box">
    <div class="login-logo">
      <a><b>Reestablecer contraseña</b></a>
    </div>
    <!-- /.login-logo -->
    <div *ngIf="showGenerateCode" class="card">
      <div class="card-body login-card-body">
        <p class="login-box-msg">Escribe tu correo para iniciar la restauración de contraseña</p>
        <form [formGroup]="resetForm">
          <div class="form-group">
            <input id="email" formControlName="email" minlength="10" maxlength="50" type="email" class="form-control"
              placeholder="Email">

            <div style="margin-top: 1em;"
              *ngIf="getControl.email.invalid && (getControl.email.dirty || getControl.email.touched)">

              <div *ngIf="getControl.email.errors.required">
                Por favor ingresa tu correo
              </div>
              <div *ngIf="getControl.email.errors.minlength">
                El correo debe tener al menos 10 caracteres.
              </div>
              <div *ngIf="getControl.email.errors.maxlength">
                El correo es demasiado largo.
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-12">
              <button (click)="generateCode()" [disabled]="!resetForm.valid" type="submit"
                class="btn btn-primary btn-block">Enviar código</button>
            </div>
          </div>
        </form>

        <!--         <p class="mt-3 mb-1">
          <a href="login.html">Login</a>
        </p> -->
      </div>
      <!-- /.login-card-body -->
    </div>

    <div *ngIf="showCheckCode" class="card">
      <div class="card-body login-card-body">
        <p class="login-box-msg">Escribe el código que recibiste en tu correo</p>
        <form [formGroup]="codeForm">
          <div class="form-group">
            <input id="code" formControlName="code" minlength="10" maxlength="50" type="text" class="form-control"
              placeholder="código">

            <div style="margin-top: 1em;"
              *ngIf="getControlVerifyForm.code.invalid && (getControl.code.dirty || getControl.code.touched)">

              <div *ngIf="getControlVerifyForm.code.errors.required">
                Por favor ingresa tu código
              </div>
              <div *ngIf="getControlVerifyForm.code.errors.minlength">
                El correo debe tener 6 caracteres.
              </div>
              <div *ngIf="getControlVerifyForm.code.errors.maxlength">
                El correo debe tener 6 caracteres.
              </div>


            </div>



          </div>
          <div class="row">
            <div class="col-12">
              <button (click)="verifyCode()" [disabled]="!codeForm.valid" type="submit"
                class="btn btn-primary btn-block">Verificar código</button>
            </div>
          </div>
        </form>

        <!--         <p class="mt-3 mb-1">
          <a href="login.html">Login</a>
        </p> -->
      </div>
      <!-- /.login-card-body -->
    </div>


    <div *ngIf="showSetNewPassword" class="card">
      <div class="card-body login-card-body">
        <p class="login-box-msg">Escribe tu nueva contraseña</p>
        <form [formGroup]="passwordForm">
          <div class="form-group">
            <input id="pass" formControlName="pass" minlength="6" maxlength="10" type="password" class="form-control"
              placeholder="Contraseña nueva">

            <div style="margin-top: 1em;"
              *ngIf="getControlPasswordForm.pass.invalid && (getControlPasswordForm.pass.dirty || getControlPasswordForm.pass.touched)">

              <div *ngIf="getControlPasswordForm.pass.errors.required">
                Por favor ingresa tu nueva contraseña
              </div>
              <div *ngIf="getControlPasswordForm.pass.errors.minlength">
                El la contraseña debe tener al menos 8 caracteres.
              </div>
              <div *ngIf="getControlPasswordForm.pass.errors.maxlength">
                La contraseña es demasiado larga
              </div>


            </div>
          </div>

          <div class="form-group">
            <input id="confirmPass" formControlName="confirmPass" minlength="6" maxlength="10" type="password"
              class="form-control" placeholder="Confirmar contraseña">

            <div style="margin-top: 1em;"
              *ngIf="getControlPasswordForm.confirmPass.invalid && (getControlPasswordForm.confirmPass.dirty || getControlPasswordForm.confirmPass.touched)">

              <div *ngIf="getControlPasswordForm.confirmPass.errors.required">
                Por favor confirma tu nueva contraseña
              </div>
              <div *ngIf="getControlPasswordForm.confirmPass.errors.minlength">
                El la contraseña debe tener al menos 8 caracteres.
              </div>
              <div *ngIf="getControlPasswordForm.confirmPass.errors.maxlength">
                La contraseña es demasiado larga
              </div>


            </div>

          </div>
          <div class="row">
            <div class="col-12">
              <button (click)="setNewPassword()" [disabled]="!passwordForm.valid" type="submit"
                class="btn btn-primary btn-block">Establecer contraseña</button>
            </div>
          </div>
        </form>

        <!--         <p class="mt-3 mb-1">
          <a href="login.html">Login</a>
        </p> -->
      </div>
      <!-- /.login-card-body -->
    </div>





  </div>

</section>