<div [formGroup]="emailForm">
  <div class="modal-header" class="{{my_modal_color}}">
    <h4 class="modal-title">{{my_modal_title}}</h4>
    <div class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </div>
  </div>
  <div class="modal-body">
    <div class="form-group">
      <label for="">Para:</label>
      <input type="text" formControlName="emailTo" class="form-control" name="emailTo" id="emailTo"
        aria-describedby="emailTo" placeholder="Ejemplo: test@test.com">
    </div>
    <div class="form-group">
      <input type="text" formControlName="emailSubject" class="form-control" name="emailSubject" id="mailSubject"
        aria-describedby="emailSubject" placeholder="Asunto">
    </div>
    <div class="form-group">
      <textarea formControlName="emailText" class="form-control" name="emailText" id="emailText"
        aria-describedby="emailText" placeholder="">
      </textarea>
    </div>
    <div class="form-group">
      <input type="file" file-model="email.attachment" title="Añadir archivo" formControlName="emailAttachment" class="form-control"
        name="emailAttachment" id="emailAttachment" aria-describedby="emailAttachment" placeholder="" (change)="fileChange($event)">
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-black" (click)="EnviarEmail()">Enviar</button>
    <button type="button" class="btn btn-outline-black" (click)="activeModal.close('Close click')">Cancelar</button>
  </div>
</div>
