<div class="content-wrapper">
  <button (click)="exportarPdf()" class="btn btn-primary">Exportar</button>
  <div #printcontainer id="printcontainer" style="margin:3em;">
    <div class="container">
      <div class="card">
        <div class="container fluid" style="margin-left: 5px;margin-right: 5px;">
          <div>
            <div>
              <br>
              <h5 style='text-align:center'><b><u>CONTRATO INDIVIDUAL DE TRABAJO POR TIEMPO DETERMINADO</u> </b> </h5>
              <br>
              <div>
                El presente contrato se celebra en la ciudad de Chihuahua, Chih., a los <b>XX</b> días
                del mes de <b>xxxxxx</b> de <b>20xx</b> entre <b>XXXXXXXXXXXXXXXXXXXXX</b>, con domicilio
                en calle Xxxxxx número xxxx de la colonia Xxxxxxxx, de la ciudad de Chihuahua,
                Chih., por conducto de su representante legal el C. <b>XXXXXXXXXXXXX</b> de
                nacionalidad mexicana, mayor de edad, sexo xxxxxxxx y estado civil xxxxxxx y a
                quien en lo sucesivo se le denominara “EL EMPLEADOR”, y por la otra la <b>C.
                CRISTINA IVETH MIRAMONTES PONCE DE LEÓN</b> con Clave Única de Registro
                de Población <b>MIPC930115MCHRNR03</b> y R.F.C.: <b>MIPC930115N33</b>, con domicilio
                en calle <b>Bosque Emperador</b> número <b>1809</b> del fraccionamiento <b>Sicomoros</b> de
                esta ciudad, de nacionalidad <b>mexicana</b>, sexo <b>femenino</b> y estado civil <b>soltera</b> a
                quien se le denominará en lo sucesivo “EL TRABAJADOR”, contrato que se
                celebra de mutuo consentimiento y en el que se establecen las condiciones de
                trabajo al tenor de las siguientes:
              </div>
              <br>
              <h5 style='text-align:center'><b><u> D E C L A R A C I O N E S </u></b></h5>
              <br>
              <h5><b>I. -“EL EMPLEADOR”, declara:</b></h5>
              <p>
                Que tiene la necesidad de contratar a una persona para que ocupe el puesto de
                <b>XXXXXXXXXX</b> por tiempo determinado a fin de: sustituir temporalmente a otro
                trabajador por permiso sin goce de sueldo, lo anterior por encontrarse dentro de
                las hipótesis que señala el artículo 35, 37 fracción I y II, y 53 fracción III de la Ley
                Federal del Trabajo.
              </p>
              <br>
              <h5><b>II. - “EL TRABAJADOR”, declara: </b></h5>
              <p>
                Estar enterado de que “EL EMPLEADOR”, necesita de sus servicios por tiempo
                determinado y con carácter de eventual a partir del <b>día XX de xxxxxxx de 20XX al
                  XX de xxxxxxxx de 20XX.</b>
              </p>
              <h5><b>III. - “Las partes” declaran:</b></h5>
              <p>
                Que se reconocen mutuamente la personalidad y capacidad legal para celebrar el
                presente contrato, al tenor de las siguientes:
              </p>
              <br>
              <h5 style='text-align:center'><b><u> C L A U S U L A S </u></b></h5>
              <br>
              <p>
                <b>PRIMERA. - </b>“EL EMPLEADOR” contrata a “EL TRABAJADOR” por tiempo
                determinado y eventualmente por el periodo comprendido entre el día <b>XX de
                  xxxxx de 20XX al XX de xxxxxxx de 20XX</b>, para prestar sus servicios y labores
                en la función de <b>XXXXXXXXXXX</b> consistiendo sus labores en: <b>XXXXXXXXXXX;</b> y
                en general todas las actividades relacionadas con su puesto.
              </p>
              <p>
                Las mencionadas labores son estrictamente de carácter eventual toda vez que las
                partes consideran que en el término de duración de este contrato puede llevarse a
                cabo en forma total.
              </p>
              <p>
                “EL TRABAJADOR” se obliga a prestar sus servicios en el entendido que estos se
                establecen en forma enunciativa y no limitativa, por lo tanto, “EL TRABAJADOR”
                deberá desempeñar todas las labores, conexas o relacionadas con sus funciones
                principales.
              </p>
              <p>
                <b>SEGUNDA. -</b> El presente contrato obliga a lo expresamente pactado conforme a
                las disposiciones contenidas en el <b>artículo 31</b> de la Ley Federal del Trabajo y la
                duración del mismo será la que se señala la cláusula anterior por lo que al concluir
                su término las partes contratantes lo darán por terminado con apoyo en el artículo
                antes mencionado e igualmente en los <b>artículos 35, 37 fracción I, 53 fracción III</b>
                y demás relativos de la citada Ley Federal del Trabajo, sin responsabilidad de
                ninguna naturaleza para “EL EMPLEADOR”.
              </p>
              <p>
                <b>TERCERA. - </b>
                La jornada de trabajo será de 42.5 horas semanales bajo un horario
                continúo comprendido de las 8:30 a las 17:00 horas de lunes a viernes, contando
                de lunes a viernes con media hora para tomar los alimentos y/o descansar fuera
                de las instalaciones de la empresa sin estar a disposición de “EL EMPLEADOR”
                quedando establecida como hora para tomar los alimentos y/o descansar de las
                13:30 a las 14:00 horas.
              </p>
              <p>
                Queda establecido preferentemente como día de descanso semanal el día sábado
                y el domingo de cada semana.
              </p>
              <p>
                “EL TRABAJADOR” otorga su consentimiento expreso para que “EL
                EMPLEADOR” modifique o cambie el horario o turno de labores en forma temporal
                o permanente, cuando las necesidades de la empresa lo requieran.
              </p>
              <p>
                Conviene la empresa y trabajador de conformidad con el artículo 59 de la ley, en
                que la empresa pueda repartir las horas de trabajo, cuando así se requiera, de los
                diferentes turnos, de lunes a viernes, con el objetivo de permitir a estos el reposo o
                disminución de las horas de trabajo del sábado o cualquier otra modalidad
                equivalente.
              </p>
              <p>
                Cuando por circunstancias especiales deba prolongarse la jornada de trabajo, “EL
                TRABAJADOR” estará obligado al tiempo extra que se le ordene en los términos
                del artículo 66 de la Ley Federal del Trabajo. Sólo se considerarán y pagarán
                como horas extraordinarias, las que exceden del tiempo semanal establecido en
                este contrato y sean debidamente autorizadas por escrito de “EL EMPLEADOR” y
                debidamente registradas por “EL TRABAJADOR”.
              </p>
              <p>
                <b>CUARTA. -</b> “EL EMPLEADOR” se obliga a pagar a favor de “EL TRABAJADOR” la
                cantidad de <b>$123.22 (Ciento veintitrés pesos 22/100 MN)</b> diarios por concepto
                de salario cuyo pago se realizará los días <b>XX</b> de cada mes, bajo el entendido de
                que cuando estos caigan en día no laborable, éste se efectuará el día hábil
                inmediato anterior. Todo ello se realizará en el lugar donde “EL TRABAJADOR”
                presta sus servicios o mediante depósito bancario, para lo cual “EL
                TRABAJADOR” otorga su consentimiento para que la empresa lo realice de esta
                manera y en el banco definido por “EL EMPLEADOR”.
              </p>
              <p>
                Igualmente “EL TRABAJADOR” está de acuerdo en cumplir con la normatividad
                aplicable a la relación laboral, por lo que solicita y autoriza a la empresa para que
                le retenga y entere a las dependencias correspondientes, al impuesto sobre la
                renta, cuota obrera del Instituto Mexicano del Seguro Social, aportaciones al
                INFONAVIT y AFORE; así como cualquier impuesto y/o cuotas que le
                correspondan por sus ingresos.
              </p>
              <p>
                Además, en caso de préstamos, pérdidas imputables al trabajador y descuentos al
                salario, “EL TRABAJADOR” otorga su consentimiento para que se realice en los
                términos del <b>artículo 110</b> de la Ley Federal del Trabajo.
              </p>
              <p>
                <b>QUINTA. -</b> El lugar de la prestación de los servicios de “EL TRABAJADOR”, será
                el ubicado en calle <b>Xxxxxx número xxxx de la colonia Xxxxxx de la colonia
                  Xxxxxxx</b> de la ciudad de Chihuahua, Chih.
              </p>
              <p>
                “EL TRABAJADOR” otorga su consentimiento para que la empresa, le cambie su
                área de trabajo, actividades, así como su jornada de trabajo, ya sea temporal o
                permanente, de acuerdo a las necesidades de operación y servicio de la empresa.
              </p>
              <p>
                <b>SEXTA. -</b> “EL TRABAJADOR” y “EL EMPLEADOR” están de acuerdo en que el
                sistema de control diario de puntualidad y asistencia establecido en la empresa es
                a través de un sistema de lista de asistencia y/o reloj checador que se maneja de
                forma diaria. “EL TRABAJADOR” diariamente deberá registrar sus entradas y
                salidas y firmar la correspondiente lista, tanto al inicio como al concluir sus
                labores, incluido el tiempo que destina para tomar sus alimentos y/o descansar.
                Las marcas de entrada o salida que aparezcan registradas, será la prueba de
                asistencia y puntualidad.
              </p>
              <p>
                La falta de firma o registro de las horas, será considerado como falta de asistencia
                para todos los efectos legales. “EL TRABAJADOR” otorga su consentimiento para
                el caso de que la empresa adecue el control de asistencia, modificándose el
                sistema que pudiese estar utilizando.
              </p>
              <p>
                <b>SÉPTIMA. - </b>“EL TRABAJADOR” se obliga y acepta y otorga su consentimiento
                para desempeñar los servicios contratados, en cualquier área, sitio u otro local que
                “EL EMPLEADOR” determine, de acuerdo a las necesidades de operación y
                venta, ya sea temporal o permanentemente.
              </p>
              <p>
                A su vez “EL TRABAJADOR” se obliga, a cada cuando se le asigne o preste algún
                vehículo propiedad de “EL EMPLEADOR”, deberá de firmar el correspondiente
                vale de resguardo o contrato de comodato en el que se hará constar el kilometraje
                y las condiciones en que presenta el mueble al momento en que le sea prestado a
                “EL TRABAJADOR” para cumplir con sus funciones, quien se responsabiliza de su
                buen uso, conservación, debiendo entregarlo en el momento en que le sea
                requerido por “EL EMPLEADOR”, en las condiciones en que los recibió, las cuales
                se hacen contar por escrito. Lo anterior se sujetará a lo establecido en el
                Reglamento Interior de Trabajo de “EL EMPLEADOR”.
              </p>
              <p>
                <b>OCTAVA. - </b>Para los efectos de lo dispuesto por el artículo 73 de la Ley Federal
                del Trabajo, “EL TRABAJADOR” expresa su consentimiento para laborar en el día
                que se le señala como descanso semanal o de descanso obligatorio, si las
                necesidades de la empresa así lo exigen, en cuyo caso se le cubrirá el salario con
                base en los <b>artículos 73</b> y <b>71</b>, además, de lo que señale el artículo 75 de la Ley
                Federal del Trabajo.
              </p>
              <p>
                <b>NOVENA. - </b>Conviene expresamente “EL TRABAJADOR” y “EL EMPLEADOR”
                que las faltas de asistencia al trabajo debido a enfermedad o accidentes,
                solamente podrán ser justificadas por “EL TRABAJADOR” con las constancias de
                incapacidad que legalmente expida el Instituto Mexicano del Seguro Social, ya que
                no le serán aceptadas, ni servirán para justificar ninguna falta de asistencia, otros
                documentos expedidos por otros médicos, ni las citas o recetas médicas
                expedidas por el propio Instituto Mexicano del Seguro Social, ello en términos de
                los artículos 42, 43 y 44 del Reglamento Interior de Trabajo.
              </p>
              <p>
                <b>DÉCIMA. -</b> Ambas partes convienen en observar y respetar íntegramente las
                disposiciones contenidas en el Reglamento Interior de Trabajo, el cual se
                encuentra legalmente depositado ante la autoridad laboral correspondiente,
                recibiendo “EL TRABAJADOR” a la firma del presente contrato su copia
                correspondiente de éste y del reglamento mencionado.
              </p>
              <p>
                <b>DÉCIMA PRIMERA. -</b> “EL TRABAJADOR” y “EL EMPLEADOR” convienen en
                observar y cumplir las disposiciones que en materia de higiene y seguridad dicten
                las autoridades competentes, así como las comisiones mixtas de higiene y
                seguridad.
              </p>
              <p>
                <b>DÉCIMA SEGUNDA. -</b> “EL TRABAJADOR” obliga a comunicar cualquier cambio
                de domicilio y teléfono o modificación de los mismos a la empresa con toda
                oportunidad.
              </p>
              <p>
                <b>DÉCIMA TERCERA. -</b> “EL TRABAJADOR” conviene a someterse a los exámenes
                médicos de ingreso y periódicos que señalen las leyes y reglamentos respectivos.
              </p>
              <p>
                <b>DÉCIMA CUARTA. -</b> “EL TRABAJADOR” se obliga a participar en los programas
                de capacitación o adiestramiento establecidos o que se implementen en la
                empresa de acuerdo a lo preceptuado en la Ley Federal del Trabajo.
              </p>
              <p>
                <b>DÉCIMA QUINTA. -</b> Las partes contratantes manifiestan expresamente que la
                temporalidad del presente contrato se debe a que la naturaleza del trabajo así lo
                exige y se hace consistir en la substitución temporal de otro trabajador por permiso
                sin goce de sueldo.
              </p>
              <p>
                <b>DÉCIMA SEXTA. -</b> LLas partes contratantes manifiestan que en términos del
                <b>artículo 39</b> de la Ley Federal del Trabajo que, si vencido el término fijado en la
                cláusula primera subsiste la materia de trabajo, la relación laboral se prorrogará
                única y exclusivamente por el tiempo que produce dicha circunstancia y
                consecuentemente terminada esta, terminará también el contrato y/o relación
                laboral existente entre las partes contratantes.
              </p>
              <p>
                <b>DECIMA SEPTIMA. -</b> “EL TRABAJADOR” designa como su beneficiario para el
                pago de los salarios y prestaciones devengadas y no cobradas a su muerte, o las
                que se generen por su fallecimiento o desaparición derivada de un acto
                delincuencial a: ___________________________________________________.
                cuyo parentesco con “EL TRABAJADOR” es: ______________________________.
              </p>
              <p>
                Lo anterior de conformidad con lo establecido en el artículo 501 de la Ley Federal
                del Trabajo. Comprometiéndose “EL TRABAJADOR” a informar a “EL
                EMPLEADOR” sobre el cambio de beneficiario designado en el presente.
              </p>
              <p>
                LEÍDO QUE FUE POR CELEBRANTES EL PRESENTE CONTRATO Y ENTERADOS
                DEL CONTENIDO, DERECHOS Y OBLIGACIONES QUE POR EL MISMO CONTRAEN,
                LO FIRMA DE CONFORMIDAD:
              </p>
              <br>
              <table style=" margin-left:10px;">

                <tr style="border: none;">
                  <td style='text-align:center'>
                    <b>POR “EL EMPLEADOR” </b>
                    <br>
                    <br>
                    _________________________________________
                    <br>
                    <b>C. </b>
                  </td>
                  <td style='text-align:center'> <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                  </td>
                </tr>
                <br>
                <br>
                <br>
                <tr style="border: none;">
                  <td style='text-align:center'>
                    <br>
                    <b>POR “EL TRABAJADOR”</b>
                    <br>
                    <br>
                    _________________________________________
                    <br>
                    <b>NOMBRE Y FIRMA</b>
                  </td>
                  <td style='text-align:center'> <br>
                    <br>
                    <br>
                    _________________
                    <br>
                    <b>HUELLA</b>
                  </td>
                </tr>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

