<div class="content-wrapper" style="min-height: 1365.62px;">
  <div class="grid-container">
    <!-- <h1 class="mat-h1">Dashboard Admin</h1> -->
    <mat-card>
      <mat-card-header>
        <mat-card-title>Dashboard Admin</mat-card-title>
        <mat-card-subtitle>Filtros</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <div class="row">
          <div class="col-3">
            <label for="">Fecha de inicio</label>
            <input type="date" [(ngModel)]="fecha_ini" class="form-control" name="fechaIni" id="fechaIni"
              aria-describedby="fechaIni" placeholder="Fecha de inico">
          </div>
          <div class="col-3">
            <label for="">Fecha de final</label>
            <input type="date" [(ngModel)]="fecha_fin" class="form-control" name="fechaFin" id="fechaFin"
              aria-describedby="fechaFin" placeholder="Fecha de fin">
          </div>
          <div class="col-3">
            <label>Desarrollo</label>
            <select ([ngModel])="desarrollo_seleccionado" id='Desarrollo' (change)="DesarrolloSeleccionado($event.target.value)"
              class="form-control select2 select2-hidden-accessible" tabindex="-1" aria-hidden="true">
              <option disabled selected style="display:none;">-- Seleccione desarrollo --</option>
              <option *ngFor="let item of combo_desarrollos" [value]="item.id_desarrollo">
                {{item.nombre_desarrollo}}
              </option>
            </select>
          </div>
          <div class="col-3">
            <label>Etapa</label>
            <select ([ngModel])="etapa_seleccionada" id='Etapa' (change)="EtapaSeleccionada($event.target.value)"
              class="form-control select2 select2-hidden-accessible" tabindex="-1" aria-hidden="true">
              <option disabled selected style="display:none;">--Seleccione etapa --</option>
              <option *ngFor="let item of combo_etapas" [value]="item.ID">
                {{item.nombre_etapa}}
              </option>
            </select>
          </div>
        </div>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button (click)="Filtrar()">Filtrar</button>
      </mat-card-actions>
    </mat-card>
    <!--Calendario-->
    <mat-card>
      <app-calendar></app-calendar>
    </mat-card>
    <mat-grid-list cols="2" rowHeight="350px">
      <mat-grid-tile *ngFor="let card of cards | async" [colspan]="card.cols" [rowspan]="card.rows">
        <mat-card class="dashboard-card">
          <mat-card-header>
            <mat-card-title>
              {{card.title}}
              <button mat-icon-button class="more-button" [matMenuTriggerFor]="menu" aria-label="Toggle menu">
                <mat-icon>more_vert</mat-icon>
              </button>
              <mat-menu #menu="matMenu" xPosition="before">
                <button mat-menu-item>Expandir</button>
                <button mat-menu-item>Quitar</button>
              </mat-menu>
            </mat-card-title>
          </mat-card-header>
          <mat-card-content class="dashboard-card-content table-responsive">
            <!--Clientes Potenciales por Asesor-->
            <ng-container *ngIf="card.cardNo == 1">
              <div class="container-fluid">
                <table *ngIf="tabla_clientes_asesor" id="tabla_clientes_asesor" [dtOptions]="dtOptions" datatable
                  class="row-border hover">
                  <thead>
                    <tr>
                      <th>Id</th>
                      <th>Nombre</th>
                      <th>Tipo Usuario</th>
                      <th>Max. Clientes Potenciales</th>
                      <th>Max. Prospectos</th>
                      <th>Nombre de Desarrollo </th>
                      <th>Clientes Potenciales Actuales</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let item of tabla_clientes_asesor">
                      <td>{{item.id}}</td>
                      <td>{{item.nombre}}</td>
                      <td>{{item.tipo_usuario}}</td>
                      <td>{{item.max_clientes_potenciales}}</td>
                      <td>{{item.max_prospectos}}</td>
                      <td>{{item.nombre_desarrollo}}</td>
                      <td>{{item.clientes_potenciales_actuales}}</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </ng-container>
            <!--Visitas por Canal-->
            <ng-container *ngIf="card.cardNo == 2">
              <div class="card-body">
                <div class="chart">
                  <div class="chartjs-size-monitor">
                    <div class="chartjs-size-monitor-expand">
                      <div class=""></div>
                    </div>
                    <div class="chartjs-size-monitor-shrink">
                      <div class=""></div>
                    </div>
                  </div>
                  <canvas id="PieChartCanales" width="100%" height="25%"></canvas>
                </div>
              </div>
            </ng-container>
            <!--Visitas por Nivel de Interes-->
            <ng-container *ngIf="card.cardNo == 3">
              <div class="card-body">
                <div class="chart">
                  <div class="chartjs-size-monitor">
                    <div class="chartjs-size-monitor-expand">
                      <div class=""></div>
                    </div>
                    <div class="chartjs-size-monitor-shrink">
                      <div class=""></div>
                    </div>
                  </div>
                  <canvas id="PieChartInteres" width="100%" height="25%"></canvas>
                </div>
              </div>
            </ng-container>
            <!--Apartados-->
            <ng-container *ngIf="card.cardNo == 4">
              <div class="container-fluid">
                <table *ngIf="tabla_apartados" id="tabla_apartados" [dtOptions]="dtOptions" datatable
                  class="row-border hover">
                  <thead>
                    <tr>
                      <th>Nombre del cliente</th>
                      <th>Fecha de apartado</th>
                  </thead>
                  <tbody>
                    <tr *ngFor="let item of tabla_apartados">
                      <td>{{item.nombre_del_cliente}}</td>
                      <td>{{item.fecha_apartado}}</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </ng-container>
            <!--Ventas-->
            <ng-container *ngIf="card.cardNo == 5">
              <div class="container-fluid">
                <table *ngIf="tabla_ventas" id="tabla_ventas" [dtOptions]="dtOptions" datatable
                  class="row-border hover">
                  <thead>
                    <tr>
                      <th>Nombre del cliente</th>
                      <th>Fecha de venta</th>
                  </thead>
                  <tbody>
                    <tr *ngFor="let item of tabla_ventas">
                      <td>{{item.nombre_del_cliente}}</td>
                      <td>{{item.fecha_venta}}</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </ng-container>
            <!--Cancelaciones-->
            <ng-container *ngIf="card.cardNo == 6">
              <div class="container-fluid">
                <table *ngIf="tabla_cancelados" id="tabla_cancelados" [dtOptions]="dtOptions" datatable
                  class="row-border hover">
                  <thead>
                    <tr>
                      <th>Nombre del cliente</th>
                      <th>Fecha de cancelación</th>
                  </thead>
                  <tbody>
                    <tr *ngFor="let item of tabla_cancelados">
                      <td>{{item.nombre_del_cliente}}</td>
                      <td>{{item.fecha_cancelacion}}</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </ng-container>
          </mat-card-content>
        </mat-card>
      </mat-grid-tile>
    </mat-grid-list>
  </div>

</div>
