<div class="modal-header" class="{{my_modal_color}}">
  <h4 class="modal-title">{{my_modal_title}}</h4>
  <div class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
    <span aria-hidden="true">&times;</span>
  </div>
</div>
<div class="modal-body">
  <div class="form-group">
    <label for="">Nombre del evento</label>
    <input type="text" class="form-control" name="" id="" aria-describedby="helpId" placeholder="Nombre del evento">
  </div>
  <div class="form-check">
    <label class="form-check-label">
      <input type="checkbox" class="form-check-input" name="" id="" value="checkedValue" (change)="allDaycheck($event.target)">
      Todo el día
    </label>
  </div>
  <div class="ngx-timepicker">
    <label>Hora de inicio</label>
    <ngx-timepicker-field [buttonAlign]="'left'"></ngx-timepicker-field>
  </div>
  <div class="ngx-timepicker">
    <label>Hora de finalización</label>
    <ngx-timepicker-field [buttonAlign]="'left'"></ngx-timepicker-field>
  </div>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-outline-black">Guardar</button>
  <button type="button" class="btn btn-outline-black" (click)="activeModal.close('Close click')">Cerrar</button>

</div>
