<div class="content-wrapper">
    <button (click)="exportarPdf()" class="btn btn-primary">Exportar</button>
    <div #printcontainer id="printcontainer" style="margin:3em;">
        <div class="container">
            <div class="card">
                <div class="container fluid" style="margin-left: 5px;margin-right: 5px;">
                    <div>
                        <div>
                            <br>
                            <h5 style='text-align:center'><b><u>CONTRATO INDIVIDUAL DE TRABAJO POR TIEMPO
                                        INDETERMINADO</u> </b> </h5>
                            <br>
                            <div>
                                El presente contrato se celebra en la ciudad de Chihuahua, Chih., a los XX del mes de
                                XXXXX del 20XX entre
                                XXXXXXXXXXXXXXXXXXXXXXXXXXXXXX con domicilio en calle XXXXXXXXXXXXXXXX número XXXXXX de
                                la colonia XXXXXXXXXXX, de la ciudad
                                de Chihuahua, Chih., por conducto de su representante legal el C. XXXXXXXXXXXXXXXX de
                                nacionalidad mexicana, mayor de edad y
                                estado civil XXXXXXX y a quien en lo sucesivo se le denominara “EL EMPLEADOR”, y por la
                                otra la C. ANGELICA MEZA MENDOZA,
                                con Clave Única de Registro de Población MEMA951012MCHZNN00 y R.F.C.: MEMA9510129F7, con
                                domicilio en calle Juan de la
                                Encina número 15131 de la colonia José María Ponce de León de esta ciudad; de
                                nacionalidad mexicana, sexo femenino y estado
                                civil soltera, a quien se le denominará en lo sucesivo “EL TRABAJADOR”, contrato que se
                                celebra de mutuo consentimiento y
                                en el que se establecen las condiciones de trabajo al tenor de las siguientes:
                            </div>

                            <br>
                            <h5 style='text-align:center'><b><u> C L A U S U L A S </u></b></h5>
                            <br>
                            <p>
                                <b>PRIMERA. - </b>Ambas partes se reconocen mutuamente la personalidad y capacidad legal
                                para celebrar el presente contrato.
                            </p>

                            <p>
                                <b>SEGUNDA. -</b> “EL TRABAJADOR” se obliga a prestar a “EL EMPLEADOR” bajo su
                                dirección, dependencia y subordinación sus servicios
                                personales para el puesto de XXXXXXXXXXXXX consistiendo sus labores en:
                                XXXXXXXXXXXXXXXXXXXXXXXXXXX; así como las labores afines,
                                relacionadas o conexas, a su ocupación principal, y en general todas las actividades
                                relacionadas con su puesto.
                            </p>
                            <p>
                                “EL TRABAJADOR” se obliga a prestar sus servicios en el entendido que estos se
                                establecen en forma enunciativa y no limitativa,
                                por lo tanto, “EL TRABAJADOR” deberá desempeñar todas las labores, conexas o
                                relacionadas con sus funciones principales.
                            </p>
                            <p>
                                <b>TERCERA. - </b> Este contrato se celebra por tiempo indeterminado y solo podrá
                                modificarse, suspenderse o terminarse por las
                                causas establecidas en el mismo, en el Reglamento Interior de Trabajo o en la Ley
                                Federal del Trabajo.

                            </p>
                            <p>
                                <b>CUARTA. -</b> - La jornada de trabajo será de XX horas semanales bajo un horario
                                discontinuo de las X:XX horas a las
                                XX:XX horas de lunes a viernes y de las X:XX horas a las XX:XX horas los días sábados,
                                contando con una hora para
                                tomar los alimentos y/o descansar fuera de las instalaciones de “EL EMPLEADOR”, la hora
                                para tomar los alimentos
                                y/o descansar será cuando “EL TRABAJADOR” convenga con “EL EMPLEADOR” siempre y cuando
                                no afecte en las
                                funciones del centro de trabajo.
                            </p>
                            <p>
                                Queda establecido preferentemente como día de descanso semanal el día sábado por la
                                tarde y el domingo de cada semana.
                            </p>
                            <p>
                                “EL TRABAJADOR” estará en completa libertad para ingerir sus alimentos y/o descansar
                                fuera o dentro de la fuente de
                                trabajo, sin estar a disposición de “EL EMPLEADOR”.
                            </p>
                            <p>
                                “EL TRABAJADOR” otorga su consentimiento expreso para que “EL EMPLEADOR” modifique o
                                cambie el horario o jornada de labores en forma temporal
                                o permanente, cuando las necesidades de la empresa lo requieran.
                            </p>
                            <p>
                                Conviene la empresa y “EL TRABAJADOR” de conformidad con el artículo 59 de la Ley, en
                                que la empresa pueda repartir las horas de trabajo, cuando así se
                                requiera, de los diferentes turnos o jornadas, de lunes a viernes, con el objetivo de
                                permitir a estos el reposo o disminución de las horas de trabajo
                                del sábado o cualquier otra modalidad equivalente.
                            </p>
                            <p>
                                Cuando por circunstancias especiales deba prolongarse la jornada de trabajo, “EL
                                TRABAJADOR” estará obligado al tiempo extra que se le ordene en
                                los términos del artículo 66 de la Ley Federal del Trabajo. Sólo se considerarán y
                                pagarán como horas extraordinarias, las que exceden del
                                tiempo semanal establecido en este contrato y sean debidamente autorizadas por escrito
                                de “EL EMPLEADOR” y debidamente registradas por “EL TRABAJADOR”.
                            </p>
                            <p>
                                <b>QUINTA. -</b> Por cada seis días de trabajo “EL TRABAJADOR” descansará uno, las
                                partes convienen en que el día descanso semanal será el domingo;
                                “EL TRABAJADOR” otorga su consentimiento para que “EL EMPLEADOR” pueda modificar dicho
                                día descanso debido a que las necesidades del
                                trabajo así lo requieren.
                            </p>
                            <p>
                                <b>SEXTA. -</b> “EL EMPLEADOR” se obliga a pagar a favor de “EL TRABAJADOR” la cantidad
                                de $XXX.XX &#40;XXXXXXXXXXXXXXXXXX pesos XX/100 M.N.&#41;
                                diarios por concepto de salario diario, cuyo pago se realizará los días XXXXXX, bajo el
                                entendido de que cuando estos caigan en día no laborable,
                                éste se efectuará el día hábil inmediato anterior. Todo ello se realizará en el lugar
                                donde “EL TRABAJADOR” presta sus servicios o mediante
                                depósito a tarjeta de débito bancario, para lo cual “EL TRABAJADOR” otorga su
                                consentimiento para que la empresa lo realice de esta manera
                                y en el banco definido por “EL EMPLEADOR”.
                            </p>
                            <p>
                                Igualmente “EL TRABAJADOR” está de acuerdo en cumplir con la normatividad aplicable a la
                                relación laboral, por lo que solicita y autoriza a la
                                empresa para que le retenga y entere a las dependencias correspondientes, el impuesto
                                sobre la renta, la cuota obrera del Instituto Mexicano del
                                Seguro Social, FONACOT, las aportaciones al INFONAVIT y AFORE; así como cualquier otro
                                impuesto y/o cuotas que le correspondan por sus ingresos.
                            </p>
                            <p>
                                Además, en caso de adelantos de salario, pérdidas imputables a “EL TRABAJADOR” y
                                descuentos al salario, “EL TRABAJADOR” otorga su consentimiento
                                para que se realice en los términos del artículo 110 de la Ley Federal del Trabajo.
                            </p>
                            <p>
                                <b>SÉPTIMA. - </b>El lugar de la prestación de los servicios de “EL TRABAJADOR”, será el
                                ubicado en calle XXXXX número XXXX de la colonia
                                XXXXXXX de la ciudad de Chihuahua, Chihuahua.
                            </p>
                            <p>
                                “EL TRABAJADOR” otorga su consentimiento para que la empresa, le cambie su área de
                                trabajo, actividades y su jornada de trabajo, ya sea temporal
                                o permanente, de acuerdo a las necesidades de operación y mantenimiento otorgadas por la
                                empresa.
                            </p>
                            <p>
                                <b>OCTAVA. - </b>“EL TRABAJADOR” y “EL EMPLEADOR” están de acuerdo en que el sistema de
                                control diario de puntualidad y asistencia establecido
                                en la empresa es a través de un sistema de lista de asistencia y/o reloj checador que se
                                maneja de forma diaria y/o semanal.
                            </p>
                            <p>
                                “EL TRABAJADOR” diariamente y/o semanal deberá registrar sus entradas y salidas y firmar
                                la correspondiente lista, tanto al inicio como al concluir sus
                                labores, incluido el tiempo que destina para tomar sus alimentos y/o descansar.
                            </p>
                            <p>
                                Las marcas de entrada o salida que aparezcan registradas, será la prueba de asistencia y
                                puntualidad. La falta de firma o registro de las horas,
                                será considerado como falta de asistencia para todos los efectos legales.
                            </p>
                            <p>
                                En caso de retraso o falta injustificada, podrá el “EL EMPLEADOR” imponerle alguna de
                                las correcciones disciplinarias que contempla el Reglamento
                                Interior de Trabajo o la Ley Federal del Trabajo.
                            </p>
                            <p>
                                “EL TRABAJADOR” otorga su consentimiento para el caso de que la empresa adecúe el
                                control de asistencia, modificándose el sistema que
                                pudiese estar utilizando.
                            </p>
                            <p>
                                <b>NOVENA. - </b>“EL TRABAJADOR” se obliga, acepta y otorga su consentimiento para
                                desempeñar los servicios contratados,
                                en cualquier área, sitio u otro local que “EL EMPLEADOR” determine, de acuerdo a las
                                necesidades de operación y
                                servicio, ya sea temporal o permanentemente.
                            </p>
                            <p>
                                <b>DÉCIMA. -</b> Para los efectos de lo dispuesto por el artículo 73 de la Ley Federal
                                del Trabajo, “EL TRABAJADOR”
                                expresa su consentimiento para laborar en el día que se le señala como descanso semanal
                                o de descanso obligatorio,
                                si las necesidades de la empresa así lo exigen, en cuyo caso se le cubrirá el salario
                                con base en los artículos
                                71 y 73, además, lo que señale el artículo 75 de la Ley Federal del Trabajo.
                            </p>
                            <p>
                                <b>DÉCIMA PRIMERA. -</b>Quedan establecidos como días de descanso obligatorio los
                                establecidos en el
                                artículo 74 de la Ley Federal de Trabajo.
                            </p>
                            <p>
                                <b>DÉCIMA SEGUNDA. -</b> “EL TRABAJADOR” tendrá derecho a disfrutar de un periodo anual
                                de vacaciones según
                                lo establecido en el artículo 76 de la Ley Federal del Trabajo, tomando en consideración
                                la antigüedad
                                laboral de “EL TRABAJADOR” en la empresa, así como a disfrutar de una prima vacacional
                                del 25% sobre
                                el salario que le corresponde durante el periodo de vacaciones.
                            </p>
                            <p>
                                <b>DÉCIMA TERCERA. -</b> “EL TRABAJADOR” tendrá derecho a recibir por parte de “EL
                                EMPLEADOR”,
                                antes del día 20 de diciembre de cada año, el importe correspondiente a 15 días de
                                salario
                                como pago del aguinaldo a que se refiere el artículo 87 de la Ley, o bien, su parte
                                proporcional conforme al tiempo laborado.
                            </p>
                            <p>
                                <b>DÉCIMA CUARTA. -</b> Conviene expresamente “EL TRABAJADOR” y “EL EMPLEADOR” que
                                las faltas de asistencia al trabajo debido a enfermedad o accidentes, solamente podrán
                                ser justificadas por “EL TRABAJADOR” con las constancias de incapacidad que legalmente
                                expida el Instituto Mexicano del Seguro Social, ya que no le serán aceptadas,
                                ni servirán para justificar ninguna falta de asistencia, otros documentos expedidos
                                por otros médicos, ni las citas o recetas médicas expedidas por el propio Instituto
                                Mexicano del Seguro Social, ello en términos de los artículos 47 y 48 del Reglamento
                                Interior de Trabajo.
                            </p>
                            <p>
                                <b>DÉCIMA QUINTA. -</b> Ambas partes convienen en observar y respetar íntegramente
                                las disposiciones contenidas en el Reglamento Interior de Trabajo, el cual se encuentra
                                legalmente depositado ante la autoridad laboral correspondiente, recibiendo “EL
                                TRABAJADOR”
                                a la firma del presente contrato su copia correspondiente de éste y del reglamento
                                mencionado.
                            </p>
                            <p>
                                <b>DÉCIMA SEXTA. -</b> “EL TRABAJADOR” y “EL EMPLEADOR” convienen en observar y cumplir
                                las
                                disposiciones que en materia de higiene y seguridad dicten las autoridades competentes,
                                así como las comisiones mixtas de higiene y seguridad
                            </p>
                            <p>
                                <b>DÉCIMA SEPTIMA. -</b> “EL TRABAJADOR” se obliga a comunicar cualquier cambio de
                                domicilio y
                                teléfono o modificación de los mismos a la empresa con toda oportunidad.
                            </p>
                            <p>
                                <b>DÉCIMA OCTAVA. - </b>“EL TRABAJADOR” conviene a someterse a los exámenes médicos de
                                ingreso
                                y periódicos que señalen las leyes y reglamentos respectivos.
                            </p>
                            <P>
                                <b>DÉCIMA NOVENA. - </b>“EL TRABAJADOR” se obliga a participar en los programas de
                                capacitación
                                o adiestramiento establecidos o que se implementen en la empresa de acuerdo a lo
                                preceptuado
                                en la Ley Federal del Trabajo.
                            </P>
                            <P>
                                <b>VIGÉSIMA. - </b>“EL TRABAJADOR” designa como su beneficiario para el pago de los
                                salarios y
                                prestaciones devengadas y no cobradas a su muerte, o las que se generen por su
                                fallecimiento o
                                desaparición derivada de un acto delincuencial a:
                                ___________________________________________________,
                                cuyo parentesco con el trabajador es: ___________________________________.
                            </P>
                            <p>
                                Lo anterior de conformidad con lo establecido en el artículo 501 de la Ley Federal del
                                Trabajo.
                                Comprometiéndose “EL TRABAJADOR” a informar a “EL EMPLEADOR” sobre el cambio de
                                beneficiario
                                designado en el presente.
                            </p>
                            <p>
                                <b>VIGESIMA PRIMERA. - </b>La antigüedad de “EL TRABAJADOR” se computará a partir del
                                día XX de XXXXX del 20XX.
                            </p>
                            <p>
                                LEÍDO QUE FUE POR CELEBRANTES EL PRESENTE CONTRATO Y ENTERADOS DEL CONTENIDO, DERECHOS Y
                                OBLIGACIONES QUE POR DEL MISMO CONTRAEN, LO FIRMA DE CONFORMIDAD.
                            </p>
                            <br>
                            <table style=" margin-left:10px;">

                                <tr style="border: none;">
                                    <td style='text-align:center'>
                                        <b>POR “EL EMPLEADOR”: </b>
                                        <br>
                                        <br>
                                        _________________________________________
                                        <br>
                                        <b>C. XXXXXXXXXXXXXXXXXXXXXX
                                            REPRESENTANTE LEGAL DE XXXXXX
                                            XXXXXXXXXXXXXXXXXXXXXXXX

                                        </b>
                                    </td>
                                    <td style='text-align:center'> <br>
                                        <br>
                                        <br>
                                        <br>
                                        <br>
                                        <br>
                                    </td>
                                </tr>
                                <br>
                                <br>
                                <br>
                                <tr style="border: none;">
                                    <td style='text-align:center'>
                                        <br>
                                        <b>POR “EL TRABAJADOR”: </b>
                                        <br>
                                        <br>
                                        _________________________________________
                                        <br>
                                        <b>NOMBRE Y FIRMA DEL TRABAJADOR</b>
                                    </td>
                                    <td style='text-align:center'> <br>
                                        <br>
                                        <br>
                                        _________________
                                        <br>
                                        <b>HUELLA</b>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>